.main_width_1200 {
  width: 62.5%;
  min-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex_1 {
  flex: 1;
}
.flex_align_center {
  align-items: center;
}
.flex_direction {
  flex-direction: column;
}
.flex_justify_content {
  justify-content: center;
}
.flex_justify_between {
  justify-content: space-between;
}

.common.el-header {
  height: 44px !important;
  background-color: #fff;
  line-height: 44px;
  padding: 0;
  border-bottom: 1px solid #646464;
}
.el-footer {
  background-color: #2b2a2f;
  height: 112px !important;
  color: #fff8f8;
  min-width: 1200px;
}
