html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* width: 100vw; */
}

.flex {
  display: -webkit-flex;
  display: flex;
}
.flex_1 {
  flex: 1;
}
.flex_align_center {
  align-items: center;
}
.flex_direction {
  flex-direction: column;
}
.flex_justify_content {
  justify-content: center;
}
.flex_justify_between {
  justify-content: space-between;
}

.height_auto {
  height: 100%;
}
.font_weight_500 {
  font-weight: 500;
}

.textAlignCenter_w100 {
  text-align: center;
  width: 100vw;
}
.textAlignCenter_w100p {
  text-align: center;
  width: 100%;
}
.textAlignCenter {
  text-align: center;
}
.inlineBlock {
  display: inline-block;
}
.blockB_floatL {
  display: block;
  float: left;
}

.verticalAlignTop {
  vertical-align: top;
}

.inlineBlock_verTop {
  display: inline-block;
  vertical-align: top;
}
.inlineBlock_verTopP > div {
  display: inline-block;
  vertical-align: top;
}

.w100 {
  width: 100%;
}
.FontSize0 {
  font-size: 0;
}

button:hover {
  cursor: pointer;
}
