.main_width_1200 {
  width: 62.5%;
  min-width: 1200px;

  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .main_width_1200 {
    width: 94vw;
    min-width: 94vw;
    margin: 0 auto;
  }
}

.el-message {
  z-index: 20000 !important;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex_1 {
  flex: 1;
}
.flex_align_center {
  align-items: center;
}
.flex_direction {
  flex-direction: column;
}
.flex_justify_content {
  justify-content: center;
}
.flex_justify_between {
  justify-content: space-between;
}
.common.el-header {
  /* position: fixed; */
  /* top:0; */
}
.common.el-header {
  height: 44px !important;
  background-color: #fff;
  line-height: 44px;
  padding: 0;
  /* border-bottom: 1px solid #646464; */
}
.common.el-main {
  width: 62.5%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: inherit;
}
/* 每一页设置min-height不同 --首页*/
.mac .common.el-main {
  /* min-height: 1453px; */
  min-height: calc(100% - 485px);
}
.el-footer {
  background-color: #2b2a2f;
  height: 138px !important;
  color: #fff8f8;
  min-width: 1200px;
}

/* ***** elementui - messige 图标大小 */
.el-icon-info {
  font-size: 16px;
}
